<div class="container">
<h1> Predictions </h1>
<address>
<h3> Latitude: 
  <big>
    <span class="label label-info">
    <%= @predict_json["lattitude"] %>
    </span>
  </big>
  Longitude:  
  <big>
    <span class="label label-info">
    <%= @predict_json["longitude"] %>
    </span>
  </big>
</h3>
</address>
</div>
<table class="table">
  <thead>
    <tr>
      <th>time</th>
      <th>precipitation value</th>
      <th>precipitation probility</th>
      <th>temperature value</th>
      <th>temperature probility</th>
      <th>wind speed value</th>
      <th>wind speed probability</th>
      <th>wind direction value</th>
      <th>wind direction vprobability</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @predict_json["predictions"]["0"]["time"] %></td>
        <td><%= @predict_json["predictions"]["0"]["precip"]["precipitation_value"] %></td>
        <td><%= @predict_json["predictions"]["0"]["precip"]["precipitation_probability"] %></td>
        <td><%= @predict_json["predictions"]["0"]["temp"]["temperature_value"] %></td>
        <td><%= @predict_json["predictions"]["0"]["temp"]["temperature_probability"] %></td>
        <td><%= @predict_json["predictions"]["0"]["wind_speed"]["wind_speed_value"] %></td>
        <td><%= @predict_json["predictions"]["0"]["wind_speed"]["wind_speed_probability"] %></td>
        <td><%= @predict_json["predictions"]["0"]["wind_direction"]["wind_direction_value"] %></td>
        <td><%= @predict_json["predictions"]["0"]["wind_direction"]["wind_direction_probability"] %></td>
      </tr>
      <tr>
        <td><%= @predict_json["predictions"][@period]["time"] %></td>
        <td><%= @predict_json["predictions"][@period]["precip"]["precipitation_value"] %></td>
        <td><%= @predict_json["predictions"][@period]["precip"]["precipitation_probability"] %></td>
        <td><%= @predict_json["predictions"][@period]["temp"]["temperature_value"] %></td>
        <td><%= @predict_json["predictions"][@period]["temp"]["temperature_probability"] %></td>
        <td><%= @predict_json["predictions"][@period]["wind_speed"]["wind_speed_value"] %></td>
        <td><%= @predict_json["predictions"][@period]["wind_speed"]["wind_speed_probability"] %></td>
        <td><%= @predict_json["predictions"][@period]["wind_direction"]["wind_direction_value"] %></td>
        <td><%= @predict_json["predictions"][@period]["wind_direction"]["wind_direction_probability"] %></td>
      </tr>
  </tbody>
</table>
<br>
