<div class="container">
<h4>
<kbd>
  <kbd> locationID </kbd>
  <%= location.name %>
</kbd>
&nbsp;
<kbd>
  <kbd> latitude </kbd>
  <%= location.latitude %>
</kbd>
&nbsp;
<kbd>
  <kbd> longitude </kbd>
  <%= location.longitude %>
</kbd>
</h4>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Temperature</th>
      <th>Precipitation</th>
      <th>Wind Direction</th>
      <th>Wind Speed</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% location.readers.each do |reading| %>
      <% if (reading.time.to_date == Date.parse(params[:date])) %>
      <tr>
        <td><%= reading.time.strftime("%I:%M:%S %P")  %></td>
        <td><%= reading && reading.temperature ? reading.temperature.temp : "-" %></td>
        <td><%= reading && reading.rain ? reading.rain.amount : "-" %></td>
        <td><%= reading ? reading.wind.direction : "-" %></td>
        <td><%= reading ? reading.wind.speed : "-" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>