<h1> BOM Read </h1>
<table class="table">
  <thead>
    <tr>
      <th>Area</th>
      <th>Rainfall amount (mm)</th>
      <th>Current temperature (&deg;c)</th>
      <th>Wind direction</th>
      <th>Wind speed (km/h)</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.name %></td>
        <% reading = station.readers.last %>
        <td><%= reading && reading.rain ? reading.rain.amount : "-" %></td>
        <td><%= reading && reading.temperature ? reading.temperature.temp : "-" %></td>
        <td><%= reading ? reading.wind.direction : "-" %></td>
        <td><%= reading ? reading.wind.speed : "-" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h1> forecast.io Read </h1>
<table class="table">
  <thead>
    <tr>
      <th>Area</th>
      <th>Rainfall amount (mm)</th>
      <th>Current temperature (&deg;c)</th>
      <th>Wind bearing</th>
      <th>Wind speed (km/h)</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.name %></td>
        <% reading = station.readerbs.last %>
        <td><%= reading ? reading.rain.amount : "-" %></td>
        <td><%= reading ? reading.temperature.temp : "-" %></td>
        <td><%= reading ? reading.wind.bearing : "-" %></td>
        <td><%= reading ? reading.wind.speed : "-" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>