<h2>COMP30023 <small>Software Modelling and Design - 2015</small></h2>
<br>

<address>
	Name: Jone Chee <br>
	Student No: 634350 <br>
	Hobby: dota <br>
	Email: jchee@student.unimelb.edu.au
</address>

<address>
	Name: Patrick Wang <br>
	Student No: 638664 <br>
	Hobby: play computer games <br>
	Email: pwang1@student.unimelb.edu.au
</address>

<address>
	Name: Ran Yi <br>
	Student No: 725119 <br>
	Hobby: eating... <br>
	Email: rany1@student.unimelb.edu.au
</address>