<h1> Locations </h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Post Code</th>
      <th>Last Update</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |station| %>
      <tr>
        <td><%= station.id %></td>
        <td><%= station.name %></td>
        <td><%= station.latitude %></td>
        <td><%= station.longitude %></td>
        <td><%= station.postcode %></td>
        <td><%= station.updated_at.strftime("%d-%B-%Y %l:%M%P") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>