
<div class = "container">
<address>
<h3>
  Date: 
  <big>
    <span class="label label-info">
    <%= params[:date] %>
    </span>
  </big>
</h3>
</address>

    <%= render  "measurement",location: @location %> 

<br>