
<div class = "container">
<address>
<h3> 
  Postcode: 
  <big>
    <span class="label label-success">
    <%= params[:id_or_pcode] %>
    </span>
  </big>
  &nbsp;
  Date: 
  <big>
    <span class="label label-info">
    <%= params[:date] %>
    </span>
  </big>
</h3>
</address>

    <% @locations.each do |l| %>
      
      <%= render  "measurement", location: l %> 
    <% end %>

<br>