<!DOCTYPE html>
<html ng-app>
<head>
  <title>S.W.A.G.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand <%= 'active' if params[:weather_controller] == 'index' %>" href= '/weather'>Specialist Weather Acceleration Group</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:weather_controller] == 'data' %>">
              <a href="/weather/data">Data</a>
            </li>
            <li class="<%= 'active' if params[:weather_controller] == 'locations' %>">
              <a href="/weather/locations">Locations</a>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Search<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Find data by Location Id or Postcode</li>
                <%= form_tag({controller: "weather", action: "find_weather_data"}, method: "get", :class => "form-inline", :role => "form") do %>
                <div class="form-group">
                  <%= label_tag(:id_or_pcode, "ID/Post Code", class: "col-sm-2 control-label) small") %>
                  <div class="col-sm-4">
                    <%= text_field_tag(:id_or_pcode, nil, class: "form-control", placeholder: "ID/Postcode[3000-3999]") %>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag(:date, "Date", class: "col-sm-2 control-label small") %>
                  <div class="col-sm-4">
                    <%= date_field_tag(:date, nil, class: "form-control") %>
                  </div>
                </div>
                <div class="form-group right-align">
                  <div class="col-sm-offset-2 col-sm-10"> 
                    <br>
                    <%= submit_tag("search", class: "btn btn-success right") %>
                  </div>
                </div>
                <% end %>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Predict<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
              <div>
                <li class="dropdown-header">Predict data by Postcode</li>
                <%= form_tag({controller: "prediction", action: "predict_by_postcode_period"}, method: "get", :class => "form-inline", :role => "form") do %>
                <div class="form-group">
                  <%= label_tag(:postcode, "Postcode", class: "col-sm-2 control-label) small") %>
                  <div class="col-sm-4">
                    <%= number_field_tag(:postcode, nil, class: "form-control", placeholder: "postcode[3000-3999]") %>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag(:period, "Period", class: "col-sm-2 control-label small") %>
                  <div class="col-sm-4">
                    <%= text_field_tag(:period, nil, class: "form-control", placeholder: "0-10-30") %>
                  </div>
                </div>
                <div class="form-group right-align">
                  <div class="col-sm-offset-2 col-sm-10"> 
                    <br>
                    <%= submit_tag("predict", class: "btn btn-warning right") %>
                  </div>
                </div>
                <% end %>
              </div>
                <li class="divider"></li>
              <div class="form-inline">  
                <li class="dropdown-header">Predict data by Latitude and Logitude</li>
                <%= form_tag({controller: "prediction", action: "predict_by_lat_long_period"}, method: "get", :role => "form") do %>
                <div class="form-group">
                  <%= label_tag(:lat, "Latitude", class: "col-sm-2 control-label) small") %>
                  <div class="col-sm-4">
                    <%= text_field_tag(:lat, nil, class: "form-control", placeholder: "latitude") %>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag(:long, "Longitude", class: "col-sm-2 control-label small") %>
                  <div class="col-sm-4">
                    <%= text_field_tag(:long, nil, class: "form-control", placeholder: "longitude") %>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag(:period, "Period", class: "col-sm-2 control-label small") %>
                  <div class="col-sm-4">
                    <%= text_field_tag(:period, nil, class: "form-control", placeholder: "0-10-30") %>
                  </div>
                </div>
                <div class="form-group right-align">
                  <div class="col-sm-offset-2 col-sm-10"> 
                    <br>
                    <%= submit_tag("predict", class: "btn btn-danger right") %>
                  </div>
                </div>
                <% end %>
              </div>
              </ul>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	<div class="container">
		<%= yield %>
	</div>
<footer class = "panel-footer">
  <div class = "container">
  <p class="test-muted">&copy; jchee pwang1 rany1</p>
  </div>
</footer>
</body>

</html>